h1{
 text-align: center;
 color: inherit ;
 margin: 1%;

}

#hey{
  text-align: center;
position: absolute;
left:300px;
top:80px;
right: 400px;
font-family: 'Sacramento', cursive , serif;
font-size: 50px;
color: inherit;


}

.welcome{
  height: 200px;
  margin-top: 0;
  padding-top: 0;

  background-size: cover;

}

body{
background: #e0ebe8;
border-style: none;
font-size: 110%;
font-weight: bold;


}


.pahela{
  text-align: center;
    background-image:url(../key.jpeg);
    background-size: cover;
    margin: 0;

}

.dusra{
  text-align: center;
  background-image: url(../turtle.jpg);
  background-size: cover;
}
hr{
  background-color: #ffffff ;
  border-style:none;
  width:5%;
  height: 0px;
  border-style: dotted;
}

a {
  text-decoration: none;
  color:red ;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: brown;
}

a.dog{
text-align: center;
  margin-bottom: 1%;
  background-color: #e0ebe8;

}
.firstsec{
  text-align: center;
  display:inline-table;
  margin-bottom: 0;


}

.secondsec{
text-align: center;

margin: 0 auto;
display: inline-block;
}


#wow {
list-style: circle;
list-style-position: outside;
display: inline-block;
margin: 0;

}

.dabba{
text-align: center;
border: 1px 2px 1px 1px;
    margin: auto;
    height: 310px;
    width: 300px;
  }



.button{
  clear: both;
 text-align: center;
}


}
.contact
{margin-top: 2%;
color:black;

}

#smpark{
  height: 100px;
  margin-top: 0;
  padding-top: 0;

}
.contact1{
text-align: center;
position: absolute;
left:400px;
top:20px;
right: 400px;
font-family: 'Sacramento', cursive , serif;
font-size: 50px;
color: inherit;
}
